@import "tailwindcss";


:root {
  /* --background: #ffffff;  */
  --background: #eafdfa;
  --foreground: #171717;
}

/* It records values ​​that Tailwind can use to generate its classes */
@theme inline { 
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter);
  --font-heading: var(--font-manrope);
  --font-accent: var(--font-jetbrains-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


body {
  background: var(--background);
  color: var(--foreground);
  
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-inter);
}

/* --------------------------- */
/* CallToAction component (Home page) */
/* --------------------------- */
.cta {
  background: linear-gradient(
    to top,
    black 0%,
    black 60%,
    rgba(0, 0, 0, 0.747) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* --------------------------- */
/* Scrollbar of chatbot */
/* --------------------------- */
.chat-scroll::-webkit-scrollbar {
  width: 5px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: black;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 9999px;
}

/* Arrow up */
.chat-scroll::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cpolygon points='5,0 10,6 0,6' fill='gray'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

/* Arrow down */
.chat-scroll::-webkit-scrollbar-button:vertical:increment {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cpolygon points='0,0 10,0 5,6' fill='gray'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

